*{
    padding: 0;
    margin: 0;
	text-decoration: none;
	list-style: none;
}
body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
.wrapper{
	margin: 0 auto;
	width: 960px;
}

/* header ul {
	margin-top: 2%;
} 

header ul li {
	background: #262626;
	width: 170px;
	border: 1x solid #fff;
	line-height: 50px;
	text-align: center;
	float: left;
	color: #fff;
	font-size: 14px;
	position: relative;
}

header ul li:hover {
	background: crimson;
}

header ul ul {
	display: none;
}

header ul li:hover > ul {
	display: block;
}
header ul ul ul {
	margin-left: 170px;
	top: 0;
	position: absolute;
} */

span {
    color: #2BD6B4;
}

.title-page{
	margin-top: 1rem;
	text-align: center;
	font-size: 35px;
	color: white;
}

.info-index-page{
	color: white;
}

.contact-info{
	margin-top: 2rem;
	font-size: 20px;
}

.mail-link{
	color: rgb(148, 143, 143);
	font-weight: bold;
}

.datum-tijd{
	margin-top: 1rem;
	font-size: 20px;
}

.img-movies{
    display: flex;
    text-align: center;
    justify-content: center;
}